// color.scss
$white: #fff;
$black: #000;
$silver: #767676;
$primary-color: #38302e;
$secondary-color: #988574;
$accent-color: #ffc;
$accent-opacity-color: hsla(60, 50%, 50%, 0.85);

$green: #abd375;
$yellow: #e8ca58;
$orange: #eea60a;
$brown: #988574;
$blue: #6aaee6;

$accent-book: $green;
$accent-news: $yellow;
$accent-board: $brown;
$accent-favorite: $orange;
$accent-twitter: $blue;



$primary-blue1: #24388D;
$primary-blue2: #5B6AA9
$primary-blue3: #919BC6
$primary-blue4: #C8CDE2
$secondary-lightblue1: #BAE5FB
$secondary-lightblue2: #CBEBFC
$secondary-lightblue3: #DCF2FD
$secondary-lightblue4: #EEF8FE
$secondary-violet1: #31287C
$secondary-violet2: #645E9D
$secondary-violet3: #9893BD
$secondary-violet4: #CBC9DE
$accent-amber1: #D2C9B6
$accent-amber2: #DDD6C8
$accent-amber3: #E8E4DA
$accent-amber4: #F4F1ED
$accent-cream1: #F4CA54
$accent-cream2: #F7D77F
$accent-cream3: #F9E4A9
$accent-cream4: #FCF2D4
$grayscale-white: #FEFEFE
$grayscale-snow: #F5F5F5
$grayscale-gray: #616161
$grayscale-darkgray: #14182C
$grayscale-black: #0F0F0F
$gradient-blue: linear-gradient(137.4deg, #263283 3.86%, #102457 100%);
$gradient-cream: linear-gradient(222.97deg, #FCF2D4 0%, #F4CA54 96.7%);
$gradient-lightblue: linear-gradient(139.57deg, #EEF8FE 2.58%, #BAE5FB 93.13%);
$border-iceberg: #D1EFF1
$border-casablanca: #F6B45A
$border-tumble: #DAB57E

11
12
13
14
15
16
18
20
31
36

$border-size1: rem(0.5px);
$border-size2: rem(1px);
$border-size3: rem(3px);
$border-size4: rem(6px);


$text-size1: rem(11px); /* 11px */
$text-size2: rem(12px); /* 12px */
$text-size3: rem(13px); /* 13px */
$text-size4: rem(14px); /* 14px */
$text-size5: rem(15px); /* 15px */
$text-size6: rem(16px); /* 16px */
$text-size7: rem(18px); /* 18px */
$text-size8: rem(20px); /* 20px */
$text-size9: rem(31px); /* 31px */
$text-size10: rem(36px); /* 36px */



$spacing-xs: 0.5rem; /* 8px */
$spacing-sm: 0.75rem; /* 12px */
$spacing-base: 1rem; /* 16px */
$spacing-md: 1.25rem; /* 20px */
$spacing-lg: 1.5rem; /* 24px */
$spacing-xl: 2rem; /* 32px */

$text-xs: 0.75rem; /* 12px */
$text-sm: 0.875rem; /* 14px */
$text-base: 1rem; /* 16px */
$text-md: 1.125rem; /* 18px */
$text-lg: 1.25rem; /* 20px */
$text-xl: 1.5rem; /* 24px */