@use "sass:math"; // div쓰려고
@use "./unit" as *; // alias줘라
@use "./variable" as *;

// 여백관련 믹스인
// margin 관련 믹스인
@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
}
@mixin marginX($marginX: 0) {
  margin-left: rem($marginX);
  margin-right: rem($marginX);
}
@mixin marginY($marginY: 0) {
  margin-top: rem($marginY);
  margin-bottom: rem($marginY);
}

// padding 관련 믹스인
@mixin paddingY($paddingY: 0) {
  padding-top: rem($paddingY);
  padding-bottom: rem($paddingY);
}

@mixin paddingX($paddingX: 0) {
  padding-left: rem($paddingX);
  padding-right: rem($paddingX);
}


// Position 관련 믹스인 // 믹스인 안에 믹스인 사용할 수 있음
@mixin posLeft($t, $l, $pos: absolute) {
  position: $pos;
  top: rem($t);
  left: rem($l);
}
@mixin posRight($t, $r, $pos: absolute) {
  position: $pos;
  top: rem($t);
  right: rem($r);
}

@mixin posCenterX($pos: absolute) {
  position: $pos;
  left: 50%;
  transform: translateX(-50%);
}
@mixin posCenterY($pos: absolute) {
  position: $pos;
  top: 50%;
  transform: translateY(-50%);
}
@mixin posCenter($pos: absolute) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//transform 관련 믹스인
@mixin transRotate($tx: -50%,  $ty: -50%, $rotate: 0) {
  top: 50%;
  transform: translate($tx, $ty) rotate(#{$rotate} + "deg");
}

// Position 관련 믹스인
// 이거 따로 쓰면 유용
@mixin pos($pos: absolute, $t: initial, $r: initial, $b: initial, $l: initial) {
  position: $pos;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}
/*
@mixin posCenterX($pos: absolute) {
  @include pos($pos);
  left: 50%;
  transform: translateX(-50%);
}
@mixin posCenterY($pos: absolute) {
  @include pos($pos);
  top: 50%;
  transform: translateY(-50%);
}
@mixin posCenter($pos: absolute) {
  @include pos($pos);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/

// 박스의 최대 너비를 설정하기 위한 믹스인
@mixin boxSizeMax($max: $container-width) {
  max-width: $max;
  @include autoMargin;
}
@mixin boxCenter($width: 100%) {
  width: $width;
  @include autoMargin;
}

// 말줄임표 믹스인
@mixin textEllipis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


// 반응형 iframe 
@mixin responsIframe($w: 16, $h: 9) {
  position: relative;
  width: 100%;
  padding-top: math.div($h, $w) * 100%; // 56.25%
  height: 0 !important;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


// Float 해제를 위한 clear 스타일 ---------------------------------------------------- /
@mixin clearFix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}


// 고해상도 디스플레이를 위한 배경이미지 관련 믹스인 ---------------------------------------------------- /
@mixin bgRetina($file, $type) {
  background-image: url("./../assets/images/" + $file + "." + $type); // 배포할 때는 절대 경로로 해라 / path도 변수로 줄 수 있음
  background-repeat: no-repeat;
  background-size: 100% 100%; // 2배 짜리 이미지가 들어올 경우 대비

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    & { // 기존 선택자 그대로
      background-image: url("./../assets/images/" + $file + "@2x." + $type);
    }
  }
}

// 텍스트 스타일 믹스인
@mixin textStyle($size) {
  font-size: rem($size);
  letter-spacing: -0.02em;
  line-height: 1.5;
}
@mixin textHeading($size) {
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.4;
  font-size: rem($size);
}

// 그리드 믹스인
@mixin gridbox($column-count: 12, $gap: 20px) {
  display: grid;
  grid-template-columns: repeat($column-count, 1fr);
  grid-template-rows: auto;
  gap: rem($gap);
}